{% extends 'src/index.html' %} {% block content %}
<div class="d-flex justify-content-center">
  <div class="card">
    <div class="card-header">
      <h3>Sign In</h3>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="fas fa-user"> <img src="{{src}}" width="30" /> </i
            ></span>
          </div>
          {% ifequal username "GateId" %}
            <select class="form-control" id="gateId" name="username">
          
              {% for gate in gateid %}
              <option>{{gate.gate}}</option>
              {% endfor %}
              
            </select>
          {% else %}
            <input
              type="{{typo}}"
              class="form-control"
              placeholder="{{username}}"
              name="username" autocomplete="off"
            />
          {% endifequal %}
        </div>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success'%}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'info' %}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'warning' %}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'error' %}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% endif %}
        {% endfor %}
        {% endif %}
        <!-- <small style="color:white">{{error}}</small> -->
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="fas fa-key"
                ><img
                  src="https://img.icons8.com/ios-glyphs/2x/password1.png"
                  width="30" /></i
            ></span>
          </div>
          <input
            type="password"
            class="form-control"
            placeholder="password"
            name="password"
          />
        </div>
        <!-- <small style="color:white">{{errors}}</small> -->
        <div class="form-group">
          <input
            type="submit"
            value="Login"
            class="btn float-right login_btn"
            id="lg_bt"
          />
        </div>
      </form>
    </div>
    <!-- <div class="card-footer">
      <div class="d-flex justify-content-center">
        <a href="#">Forgot your password?<img
            src="https://img.icons8.com/ios-glyphs/2x/forgot-password.png"
            width="30"
        /></a>
      </div>
    </div> -->
  </div>
</div>
{% endblock %}
