{% extends "src/gateAdminBasefile.html" %} 
{% block content %} 

{% if obj == 1 %}
    {% for visitor in visitor_obj %}
        {% for user in x %}
            {% if forloop.counter == forloop.parentloop.counter %}
                Name:{{user.name}}<br>
                Gender: {{user.gender}}<br />
                Date Of Visit: {{visitor.visitDate}}<br />
                Reason of visit: {{visitor.reason}}<br />
                Time validity: {{visitor.visiting_hour}}<br />
                Photo: <img src="{{ user.photo.url }}" /><br>
                <hr>
            {% endif %}
        {% endfor %}
    {% endfor %}   
{% else %}
    Here is no pending checkin....
{% endif %}

{% endblock %}