{% extends "src/gateAdminBasefile.html" %}
{% block content %}


<style>
    #searchContainer {
        padding: 20px;
        position: absolute;
        top: 35px;
        right: 0;
    }

    #searchContainer {
        width: 350px;
    }

    #searchContainer button {
        background-color: rgba(1, 159, 198);
        width: 75px;
    }

    .searchControl {
        box-shadow: 2px 2px 5px black;
        border: none;
        border-radius: 5px;
        padding: 5px;
    }
</style>

<form method="POST">
    {% csrf_token %}
<div id="searchContainer">
    <input class="searchControl" type="text" placeholder="Search by Name..." id="searchInput" name="search"><button class="searchControl" type="submit" id="searchBtn">Search</button></div></form>

<br>

<div class="d-flex justify-content-center h-25">
<div class="card">
    <div class="card-body">
        <h2 style="justify-content: center;">Todays Visitors</h2>
        {% if obj == 1 %}
        {% for visitor in visitor_obj %}
            {% for user in x %}
            {% if forloop.counter == forloop.parentloop.counter %}
                Name:{{user.name}}<br>
                Reason of visit: {{visitor.reason}}<br />
                Time validity: {{visitor.visiting_hour}} Hour<br />
                <img src="{{ user.photo.url }}" width="100" height="100" /><br>
                <hr>
            {% endif %}
            {% endfor %}
        {% endfor %}
        {% for tp in temp_user_obj %}
            Name:{{tp.name}}<br>
            Reason of visit: {{tp.reason}}<br />
            Time validity: {{tp.visiting_hour}}<br />
            <img src="{{tp.photo.url }}" /><br>
    
            <hr>
        {% endfor %}  
    {% else %}
    No vistor today....
    {% endif %}
</div>
</div>
</div>
{% endblock %}