{% extends basefile %}
{% block content %}

<style>
    #searchContainer {
        padding: 20px;
        position: absolute;
        top: 35px;
        right: 0;
    }

    #searchContainer {
        width: 350px;
    }

    #searchContainer button {
        background-color: rgba(1, 159, 198);
        width: 75px;
    }

    .searchControl {
        box-shadow: 2px 2px 5px black;
        border: none;
        border-radius: 5px;
        padding: 5px;
    }
</style>
<form method="POST">
    {% csrf_token %}
    <div id="searchContainer">
        <input class="searchControl" type="text" placeholder="Search your Query..." id="search" name="search"><button
            class="searchControl" type="submit" id="searchBtn">Search</button></div>
</form>
<br>


<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h3>Frequently asked Questions</h3>
        </div>
        <div class="card-body">

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"> <img
                                src="https://img.icons8.com/ios-glyphs/2x/ask-question.png" width="30" /> </i></span>
                </div>
                <input type="text" class="form-control" value=" Where to go for admission realted queries?"
                    name="question" id="question" readonly="readonly" />
            </div>


            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"><img
                                src="https://img.icons8.com/windows/2x/stack-exchange-answer.png"
                                width="30" /></i></span>
                </div>
                <input type="text" class="form-control"
                    value=" You can go to AU banglows( location of Ahmedabad Univerity in map)" name="answer"
                    id="answer" readonly="readonly" />
            </div>
            <br>
            <br>

            <!-- <h5>1) Where to go for admission realted queries?</h5>
            <h6>Ans: You can go to AU banglows( location of Ahmedabad Univerity in map)</h6>
            <hr><br> -->


            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"> <img
                                src="https://img.icons8.com/ios-glyphs/2x/ask-question.png" width="30" /> </i></span>
                </div>
                <input type="text" class="form-control"
                    value=" How to give personal interview for admission due to COVID situation?" name="question"
                    id="question" readonly="readonly" />
            </div>


            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"><img
                                src="https://img.icons8.com/windows/2x/stack-exchange-answer.png"
                                width="30" /></i></span>
                </div>
                <input type="text" class="form-control" value=" Ahmedabad Univerity has a way to out. Due to covid-19, University has been taking online
                interviews." name="answer" id="answer" readonly="readonly" />
            </div>
            <br>
            <br>

            <!-- <h5>2) How to give personal interview for admission due to COVID situation?</h5>
            <h6>Ans: Ahmedabad Univerity has a way to out. Due to covid-19, University has been taking online
                interviews.</h6>
            <hr><br> -->


            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"> <img
                                src="https://img.icons8.com/ios-glyphs/2x/ask-question.png" width="30" /> </i></span>
                </div>
                <input type="text" class="form-control"
                    value=" Can you tell me about placements in School of engineering and applied science? "
                    name="question" id="question" readonly="readonly" />
            </div>


            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"><img
                                src="https://img.icons8.com/windows/2x/stack-exchange-answer.png"
                                width="30" /></i></span>
                </div>
                <input type="text" class="form-control" value="The highest-paid package was around 15 Lacs and the lowest one was around
                4.5 Lacs. The CDC is very helpful for providing internships and placements to the students."
                    name="answer" id="answer" readonly="readonly" />
            </div>
            <br>
            <br>


            <!-- <h5>3) Can you tell me about placements in School of engineering and applied science? </h5>
            <h6>Ans:The highest-paid package was around 15 Lacs and the lowest one was around
                4.5 Lacs. The CDC is very helpful for providing internships and placements to the students.</h6>
            <hr><br> -->





            <br><h3 style="text-align: center;">General People questions</h3><br>
            {% for que in faq %}
            {% for user in user %}
            {% if forloop.counter == forloop.parentloop.counter %}
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"><img
                                src="https://img.icons8.com/ios-glyphs/2x/user-male.png" width="30" /></i></span>
                </div>
                <input type="text" class="form-control" value="{{user.username}}" name="username" id="username"
                    readonly="readonly" />

            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"> <img
                                src="https://img.icons8.com/ios-glyphs/2x/ask-question.png" width="30" /> </i></span>
                </div>
                <input type="text" class="form-control" value="{{que.question}}" name="question" id="question"
                    readonly="readonly" />
            </div>


            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"><img
                                src="https://img.icons8.com/windows/2x/stack-exchange-answer.png"
                                width="30" /></i></span>
                </div>
                <input type="text" class="form-control" value="{{que.answer}}" name="answer" id="answer"
                    readonly="readonly" />
            </div>
            <br>
            <br>
            <!-- @{{user.username}}<br>
            Question : {{que.question}}<br>
            Ans : {{que.answer}}<br> -->
            {% endif %}
            {% endfor %}
            {% endfor %}<br><br>
            {% if obj == 1 %}
            <h5 style="text-align: center;">Ask Your Query?</h5>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user">
                            <img
                                src="https://img.icons8.com/ios-glyphs/2x/ask-question.png" width="30" /> 
                        </i></span>
                    </div>
                    <textarea class="form-control" placeholder="Ask your question here" id="question" name="question"
                        maxlength="1000" required></textarea>
                </div>


                <div class="form-group">
                    <input type="submit" value="Ask" class="btn float-right login_btn" id="lg_bt" />
                </div>

            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}