<html>
  <head>
    {% load static %}

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static '/css/gatePassForm.css' %}" />
    <link rel="stylesheet" href="{% static '/css/nav.css' %}" />
  </head>
  <body>
    
        
    {% include "src/navbar.html" %}
    <!-- End vertical navbar -->

    <div class="page-content p-5" id="content">
      <!-- Toggle button -->
      <button
        id="sidebarCollapse"
        type="button"
        class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"
      >
        <i class="fa fa-bars mr-2"></i
        ><small class="text-uppercase font-weight-bold">Toggle</small>
      </button>

      
      <div class="container">

        <div class="d-flex justify-content-center h-100">
          <div class="card">
            <div class="card-header">
              <h3>Gate Pass</h3>
            </div>
            <div class="card-body">
              <form method="POST">
                {% csrf_token %}
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <label class="custom-control-label" for="gateId" >Gate Number:</label>
                  <br>
                  <select class="form-control" id="gateId" name="gateId">
        
                    {% for gate in gateid %}
                    <option>{{gate.gate}}</option>
                    {% endfor %}
                    
                  </select>
                  <br>
                </div>
        
        
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <label class="custom-control-label" for="visiting_hour" >visiting_hour:</label><br>
                  <select class="form-control" id= "visiting_hour" name="visiting_hour" >
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="More Than 3">More Than 3</option>
                    
                  </select>
                </div>
        
                
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <input class="form-control" id="visitDate" name="visitDate" placeholder="VisitDate:YYYY-MM-DD" type="text"/>
                </div>
        
        
                <div class="input-group form-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                  </div>
                  <textarea placeholder="Reason for visit" name="reason" id="reason" ></textarea>
                </div>        
        
                <div class="form-group">
                  <input
                    type="submit"
                    value="Make Pass"
                    class="btn float-right login_btn"
                    id="lg_bt"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
        
       
        </div>

        <script
          type="text/javascript"
          src="https://code.jquery.com/jquery-1.11.3.min.js"
        ></script>

        <!-- Include Date Range Picker -->
        <script
          type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"
        ></script>
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"
        />

        <script>
          $(document).ready(function () {
            var date_input = $('input[name="visitDate"]'); //our date input has the name "date"
            var container =
              $(".bootstrap-iso form").length > 0
                ? $(".bootstrap-iso form").parent()
                : "body";
            date_input.datepicker({
              format: "yyyy-mm-dd",
              container: container,
              todayHighlight: true,
              autoclose: true,
            });
          });
        </script>
      </div>
    </div>

    <script>
      $(function () {
        // Sidebar toggle behavior
        $("#sidebarCollapse").on("click", function () {
          $("#sidebar, #content").toggleClass("active");
        });
      });
    </script>
  </body>
</html>
