<html>

<head>
  {% load static %}
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/toastr.css' %}" media="all">
  <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
  <link rel="stylesheet" href="{% static '/css/adminDelete.css' %}" />
  <link rel="stylesheet" href="{% static '/css/gateAdmin.css' %}" />
  <link rel="stylesheet" href="{% static '/css/nav.css' %}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>
  {% include "src/gateAdminNav.html" %}

  <div class="page-content p-5" id="content">
    <button id="sidebarCollapse" type="button">
      <i class="fa fa-bars mr-2">
        <img src="https://img.icons8.com/ios-glyphs/2x/sorting-options.png" width="30" height="30" />
      </i>
    </button>

    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </div>

  <script>
    $(function () {
      // Sidebar toggle behavior
      $("#sidebarCollapse").on("click", function () {
        $("#sidebar, #content").toggleClass("active");
      });
    });
  </script>
</body>

</html>