{% extends "src/base.html" %} 
{% block content %}
<br><br>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {
        'packages': ['table', 'map', 'corechart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyDRhG8w4pfUTB53XBxdGCbrqM0Y6NecR5s'
      });
      google.charts.setOnLoadCallback(initialize);

      function initialize() {
        // The URL of the spreadsheet to source data from.
        var query = new google.visualization.Query(
            'https://spreadsheets.google.com/pub?key=pCQbetd-CptF0r8qmCOlZGg');
        query.send(draw);
      }

      function draw(response) {
        if (response.isError()) {
          alert('Error in query');
        }

        var ticketsData = response.getDataTable();
        var chart = new google.visualization.ColumnChart(
            document.getElementById('chart_div'));
        

        var geoData = google.visualization.arrayToDataTable([
          ['Lat', 'Lon', 'Name'],
          [23.0392, 72.5561, 'Ahmedabad University'],
          [23.0373, 72.5522, 'School of engineering and applied science']]);

        var geoView = new google.visualization.DataView(geoData);
        geoView.setColumns([0, 1]);

        var table =
            new google.visualization.Table(document.getElementById('table_div'));
        table.draw(geoData, {showRowNumber: false, width: '100%', height: '100%'});

        var map =
            new google.visualization.Map(document.getElementById('map_div'));
        map.draw(geoView, {showTip: true});

        // Set a 'select' event listener for the table.
        // When the table is selected, we set the selection on the map.
        google.visualization.events.addListener(table, 'select',
            function() {
              map.setSelection(table.getSelection());
            });

        // Set a 'select' event listener for the map.
        // When the map is selected, we set the selection on the table.
        google.visualization.events.addListener(map, 'select',
            function() {
              table.setSelection(map.getSelection());
            });
      }
    </script>

    <table align="center">
      <tr valign="top">
        <td style="width: 100%;">
          <div id="map_div" style="width: 900px; height: 400;"></div><br>
        </td>
      </tr>
      <tr>
        <td style="width: 10;">
          <div id="table_div"></div>
        </td>
        <td colSpan=2>
          <div id="chart_div" style="width: 400px; height: 300px;"></div>
        </td>
      </tr>
    </table>

{% endblock %}