{% extends "src/gateAdminBasefile.html" %} 
{% block content %} 

{% if obj == 1 %}
    {% for visitor in visitor_obj %}
        {% for user in x %}
            {% if forloop.counter == forloop.parentloop.counter %}
                Name:{{user.name}}<br>
                Reason of visit: {{visitor.reason}}<br />
                Time validity: {{visitor.visiting_hour}}<br />
                <img src="{{user.photo.url }}" /><br>
                <button><a href='/makeCheckOut/{{visitor.pk}}'> Check Out </a></button><br><br>
                <hr>
            {% endif %}
        {% endfor %}
    {% endfor %}   
{% else %}
    Here is no pending checkout....
{% endif %}

{% endblock %}