{% extends basefile %}
{% block content %}


<div class="d-flex justify-content-center">
    <div class="card">
        <div class="card-header">
            <h3>Campus Images</h3>
        </div>
        <div class="card-body">
            {% for visitor in visitor_obj %}
            -->
            {{visitor.feedback}}<br>
            {% if obj == 1 %}
            {% for u in user %}
            {% if forloop.counter == forloop.parentloop.counter %}
            Username : {{u.username}}<br>
            <button style="background-color: white;">
                <a href='/deleteReview/{{visitor.pk}}'> Delete
                    <img src="https://img.icons8.com/ios/2x/delete-trash.png" width="30" /></a>
            </button>
            {% endif %}
            {% endfor %}
            {% endif %}
            <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}