{% extends 'src/forgotPassword.html' %} {% block content %}
{%load static%}
<div class="page-content p-5" id="content">
  <button id="sidebarCollapse" type="button">
    <i class="fa fa-bars mr-2">
      <img src="https://img.icons8.com/ios-glyphs/2x/sorting-options.png" width="30" height="30" />
    </i>
  </button>
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <h3 class="clg">Reset Password</h3>
          </div>
          <form method="POST">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'success'%}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
            {% endfor %}
            {% endif %}


            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"><img
                      src="https://img.icons8.com/ios-glyphs/2x/password1.png" width="30" /></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Password" name="password" minlength="4"
                maxlength="20" required />
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"><img
                      src="https://img.icons8.com/ios-glyphs/2x/password1.png" width="30" /></i></span>
              </div>
              <input type="password" class="form-control" placeholder="Confirm your New Password" name="cpassword"
                minlength="4" maxlength="20" required />
            </div>

            <div class="form-group">
              <input type="submit" value="Submit Password" class="btn float-right login_btn" id="lg_bt" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}