{% extends "src/superAdminBasefile.html" %} {% block content %}
<br><br>
<script>
    var d="{{day}}";
    var dv="{{dayVisitor}}";
    var i;
    var djangoData = JSON.parse('{{graphData|safe}}');
    window.onload = function () {
        
    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        
        title:{
            text:"Number of Visitors of Last 10 days"
        },
        axisX:{
            interval: 1
        },
        axisY2:{
            interlacedColor: "rgba(1,77,101,.2)",
            gridColor: "rgba(1,77,101,.1)",
            title: "Number of Visitors"
        },
        data: [{
            type: "bar",
            name: "companies",
            axisYType: "secondary",
            color: "#014D65",
            dataPoints: djangoData
        }]
    });
    chart.render();
    
    }
    </script>
    
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

{% for d in day %}
    {% for dv in dayVisitor %}
        {% if forloop.counter == forloop.parentloop.counter %}
            {{d}}:{{dv}}
            <hr>
        {% endif %}
    {% endfor %}
{% endfor %}   

{% endblock %}