{% extends "src/superAdminBasefile.html" %} {% block content %}
<br><br>
<script>
    var d="{{day}}";
    var dv="{{dayVisitor}}";
    var i;
    var djangoData = JSON.parse('{{graphData|safe}}');
    window.onload = function () {
        
    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        
        title:{
            text:"Number of Visitors of Last 10 days"
        },
        axisX:{
            interval: 1
        },
        axisY2:{
            interval:1,
            interlacedColor: "rgba(1,77,101,.2)",
            gridColor: "rgba(1,77,101,.1)",
            title: "Number of Visitors"
        },
        data: [{
            type: "bar",
            name: "companies",
            axisYType: "secondary",
            color: "#014D65",
            dataPoints: djangoData
        }]
    });
    chart.render();
    
    }
    </script>
    
    <div id="chartContainer" style="height: 400px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>



<br><br>
    <br><br>

          <script type='text/javascript' src='https://www.gstatic.com/charts/loader.js'></script>
          <script type='text/javascript'>
            google.charts.load('current', {'packages':['annotatedtimeline']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
              var data = new google.visualization.DataTable();
              data.addColumn('date', 'Date');
              data.addColumn('number', 'Sold Pencils');
              data.addColumn('string', 'title1');
              data.addColumn('string', 'text1');
              data.addColumn('number', 'Sold Pens');
              data.addColumn('string', 'title2');
              data.addColumn('string', 'text2');
              data.addRows([
                [new Date(2008, 1 ,1), 30000, undefined, undefined, 40645, undefined, undefined],
                [new Date(2008, 1 ,2), 14045, undefined, undefined, 20374, undefined, undefined],
                [new Date(2008, 1 ,3), 55022, undefined, undefined, 50766, undefined, undefined],
                [new Date(2008, 1 ,4), 75284, undefined, undefined, 14334, 'Out of Stock','Ran out of stock on pens at 4pm'],
                [new Date(2008, 1 ,5), 41476, 'Bought Pens','Bought 200k pens', 66467, undefined, undefined],
                [new Date(2008, 1 ,6), 33322, undefined, undefined, 39463, undefined, undefined]
              ]);
      
              var chart = new google.visualization.AnnotatedTimeLine(document.getElementById('chart_div'));
              chart.draw(data, {displayAnnotations: true});
            }
          </script>

          // Note how you must specify the size of the container element explicitly!
          <div id='chart_div' style='width: 700px; height: 240px;'></div>
  
<br><br><br><br><br><br><br><br>
{% endblock %}