{% extends "src/superAdminBasefile.html" %} {% block content %}

<div class="d-flex justify-content-center">
  <div class="card">
    <div class="card-header">
      <h3>Add Gate Admin</h3>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <img
                src="https://img.icons8.com/ios-glyphs/2x/keypad.png"
                width="30" /><i class="fas fa-user"></i
            ></span>
          </div>
          <input
            type="number"
            class="form-control"
            placeholder="Gate Number"
            id="gate"
            name="gate"
            min="0"
            required
          />
        </div>

        <small style="color: white;">{{error}}</small>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <img
                src="https://img.icons8.com/ios-glyphs/2x/employee-card.png"
                width="30" /><i class="fas fa-user"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="Full Name"
            id="name"
            name="name"
            maxlength="100"
            minlength="2"
            required
          />
        </div>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <img
                src="https://img.icons8.com/ios-glyphs/2x/password1.png"
                width="30" /><i class="fas fa-key"></i
            ></span>
          </div>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            name="password"
            minlength="4"
            maxlength="20"
            required
          />
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <img
                src="https://img.icons8.com/ios-glyphs/2x/email.png"
                width="30" /><i class="fas fa-user"></i
            ></span>
          </div>
          <input
            type="email"
            class="form-control"
            placeholder="Mail Id"
            id="mail"
            name="mail"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            maxlenght="320"
            required
          />
        </div>
        <small style="color: white;">{{errors}}</small>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><img
                src="https://img.icons8.com/ios-glyphs/2x/contact-card.png"
                width="30" /><i class="fas fa-user"></i
            ></span>
          </div>
          <input
            type="numer"
            class="form-control"
            placeholder="Contact Number(format: 1234567890)"
            id="contact"
            name="contact"
            pattern="[0-9]{10}"
            required
          />
        </div>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="fas fa-user"
                ><img
                  src="https://img.icons8.com/ios-glyphs/2x/gender.png"
                  width="26" /></i
            ></span>
          </div>
          <!-- <label class="custom-control-label" for="gender">Gender:</label><br /> -->
          <select class="form-control" id="gender" name="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>

        <div class="form-group">
          <input
            type="submit"
            value="ADD"
            class="btn float-right login_btn"
            id="lg_bt"
          />
        </div>
      </form>
    </div>
  </div>
</div>
<br />
<br />

<br />

<div class="tabble">
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Gate Id</th>
        <th scope="col">FullName</th>
        <th scope="col">Email</th>
        <th scope="col">Contact</th>
        <th scope="col">Gender</th>
        <th scope="col">Edit Admin</th>
        <th scope="col">Delete Admin</th>
      </tr>
    </thead>
    <tbody>
      {% for admin in admin_obj %}
      <tr>
        <th scope="row">{{admin.gate}}</th>
        <td>{{admin.name}}</td>
        <td>{{admin.mail}}</td>
        <td>{{admin.contact}}</td>
        <td>{{admin.gender}}</td>
        <td>
          <button>
            <a href="/adminEdit/{{admin.pk}}"
              >Edit<img
                src="https://img.icons8.com/ios/2x/edit-administrator.png"
                width="30"
            /></a>
          </button>
        </td>
        <td>
          <button>
            <a href="/adminDelete/{{admin.pk}}"
              >Delete
              <img
                src="https://img.icons8.com/ios/2x/delete-trash.png"
                width="30"
            /></a>
          </button>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
<br><br><br><br>
{% endblock %}
