{% load static %}
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4" style="background-color: black;">
    <div class="media d-flex align-items-center">
      <img
        src="{% static 'images/au_logo_only.png' %}"
        alt="..."
        width="65"
        class="mr-3 rounded-circle img-thumbnail shadow-sm"
      />
      <div class="media-body">
        <h4 class="m-0" style="color: white;">Ahmedabad University</h4>
        <p class="font-weight-light text-muted mb-0">
          <h6 style="color: white;">School of Engineering and Applied Science</h6>
        </p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">
    Main
  </p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a
        href="{% url 'superAdminDash' %}"
        class="nav-link text-dark font-italic bg-light"
      >
        <i class="fa fa-th-large mr-3 text-primary fa-fw">
          <img src="https://img.icons8.com/ios-glyphs/2x/home.png" width="30" />
        </i>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'statistics' %}" class="nav-link text-dark font-italic">
        <i class="fa fa-address-card mr-3 text-primary fa-fw">
          <img
            src="https://img.icons8.com/ios-glyphs/2x/rebalance-portfolio.png"
            width="30"
          />
        </i>
        Charts
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'viewVisitor' %}" class="nav-link text-dark font-italic">
        <i class="fa fa-picture-o mr-3 text-primary fa-fw">
          <img
            src="https://img.icons8.com/ios/2x/myspace-squared.png"
            width="30"
          />
        </i>
        Today's visitors
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'imageGallery' %}" class="nav-link text-dark font-italic">
        <i class="fa fa-picture-o mr-3 text-primary fa-fw">
          <img
            src="https://img.icons8.com/ios-glyphs/2x/image.png"
            width="30"
          />
        </i>
        Gallery
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'review' %}" class="nav-link text-dark font-italic">
        <i class="fa fa-picture-o mr-3 text-primary fa-fw">
          <img
            src="https://img.icons8.com/ios-glyphs/2x/thumb-up.png"
            width="30"
          />
        </i>
        Reviews
      </a>
    </li>

    <li class="nav-item">
      <a href="{% url 'faqAdmin' %}" class="nav-link text-dark font-italic">
        <i class="fa fa-picture-o mr-3 text-primary fa-fw">
          <img
            src="https://img.icons8.com/ios-filled/2x/faq.png"
            width="30"
          />
        </i>
        Answer the Questions
      </a>
    </li>
    <li class="nav-item">
      <a
        href="{% url 'superAdminLogout'%}"
        class="nav-link text-dark font-italic"
      >
        <i class="fa fa-picture-o mr-3 text-primary fa-fw">
          <img
            src="https://img.icons8.com/android/2x/logout-rounded-left.png"
            width="30"
          />
        </i>
        Logout
      </a>
    </li>
  </ul>
</div>
