<html>
<head>
    {% load static %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">
 <link rel="stylesheet" href="{% static '/css/bootstrap.min.css'%}">
</head>
<body>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand" href="/superAdmin">{{ username }}_</a>
      
      
  </nav>
<div class="container">
    {% if obj == 1 %}
    <h3>Ahmedabad University</h3>
    Photo:<img src="{{ user_admin_obj.photo.url }}" /><br>
    <h3>Name: {{user_admin_obj.name}}</h3>
    Gender: {{user_admin_obj.gender}}<br>
    Date Of Visit: {{visiter_obj.visitDate}}<br>
    Reason of visit: {{visiter_obj.reason}}<br>
    Time validity: {{visiter_obj.visiting_hour}}<br>
    Gate Number: {{visiter_obj.gateId}}
    {{visiter_obj.userId}}



    
    {% else %}
    <h3>You don't have any get pass... want to <a href="gatepass">create</a></h3>
    {% endif %}
</div>
</body>
</html> 


