{% extends 'src/index.html' %} 
{% block content %}
<div class="d-flex justify-content-center h-100">
  <div class="card">
    <div class="card-header">
      <h3>Sign Up</h3>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Username" id="username" name="username"/>
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="text" class="form-control" placeholder="Name" id="name" name="name"/>
        </div>

        <div class="input-group form-group">

          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-key"></i></span>
          </div>
          <input type="password" class="form-control" placeholder="Password" name="password"/>
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="email" class="form-control" placeholder="Mail Id" id="mail" name="mail"/>
        </div>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="numer" class="form-control" placeholder="Contact Number" id="contact" name="contact"/>
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <label class="custom-control-label" for="Male">Male </label>
          <input type="radio" class="form-control" placeholder="Male  " id="male" name="gender"/>
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <label class="custom-control-label" for="Female">Female </label>
          <input type="radio" class="form-control" placeholder="Female" id="female" name="gender"/>
        </div>
        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <label class="custom-control-label" for="Other">Other  </label>
          <input type="radio" class="form-control" placeholder="Other " id="other" name="gender"/>
        </div>
        

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input type="file" class="form-control" placeholder="photo" id="photo" name="photo"/>
        </div>

        
        <div class="form-group">
          <input
            type="submit"
            value="SignUp"
            class="btn float-right login_btn"
            id="lg_bt"
          />
        </div>
      </form>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-center links">
        Don't have an account?<a href="/userLogin/">Sign In</a>
      </div>
      <div class="d-flex justify-content-center">
        <a href="#">Forgot your password?</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

